<div class="wrapper">
    <app-main-header></app-main-header>
    <app-main-sidebar></app-main-sidebar>
    <app-content-wrapper></app-content-wrapper>
    <app-main-footer></app-main-footer>
</div>

<router-outlet></router-outlet>
